/* GENERALE */
* {
  margin: 0;
  font-family: 'Open Sans';
}
/* \GENERALE */



/* BODY */
.back {
  z-index: -1;
  position: absolute;
  background-color: #b4d0e6;
  width: 100%;
  height: 102%;
}
/* \BODY */



/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 1% 0;
}

header ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  gap: 5%;
  width: 30%;
  padding-left: 1%;
  padding-right: 2.5%;
}

header ul:last-of-type {
  flex-direction: row-reverse;
}

header a:not(.diff) {
  text-decoration: none;
  color: black;
}

header .diff {
  text-decoration: none;
  background-color: #0061fe;
  color: white;
  padding: 15% 45%;
}
/* \HEADER */



/* MAIN */
main {
  padding: 0 18.5%;
}
/* \MAIN */



  /* HERO */
.hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hero > h1 {
  font-size: 4vw;
  font-weight: 800;
}

.hero .dettagli {
  display: flex;
}

.hero .dettagli > img {
  width: 69%;
}

.hero .dettagli > div p {
  padding-bottom: 10%;
}

.hero .dettagli div a {
  text-decoration: none;
  color: white;
  background-color: #0061fe;
  padding: 3% 4%;
}

.hero .dettagli > div > div:first-of-type {
  margin-top: 10%;
}

.hero .dettagli > div > div:last-of-type {
  font-size: 2.8em;
  margin-top: 20%;
}
  /* \HERO */



  /* PIANI */
.piani > h2 {
  font-size: 2.8em;
  margin-bottom: 5%;
}

.piani label:first-of-type {
  margin-right: 5%;
}

.piani .inputs {
  margin-bottom: 4%;
}
    
    /* CARDS */
.cards {
  display: flex;
  justify-content: space-between;
}

.card {
  border: 1px lightgray solid;
  width: 30%;
}

.card .tipo {
  text-align: center;
  line-height: 2.5em;
  border-bottom: 1px lightgray solid;
  margin-bottom: 10%;
}

.card > :not(.tipo) {
  padding: 0 10%;
}

.card h3 {
  font-size: 1.8em;
  margin-bottom: 5%;
}

.card .costo {
  line-height: 2em;
  margin-bottom: 12%;
}

.card .costo span {
  color: grey
}

.card .dettagli ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20%;
}

.card .dettagli ul li {
  display: flex;
  align-items: baseline;
  gap: 0.5em;
}

.card .dettagli ul li {
  margin-bottom: 1.8em
}

.card > div > a:first-of-type {
  display: block;
  text-decoration: none;
  text-align: center;
  background-color: #0061fe;
  color: white;
  padding: 4%;
  margin-bottom: 12%;
}

.card > div > p {
  margin-bottom: 12%;
}

.card hr {
  width: 18%;
  margin-bottom: 16%;
}

.card .punti-sal .titolo {
  margin-bottom: 12%;
}

.card .punti-sal i {
  color: #0061fe;
}

.cards {
  margin-bottom: 4%;
}
    /* \CARDS */

    /* ENTERPRISE */
.enterprise {
  border: 1px lightgray solid;
  width: 100%;
  margin-bottom: 10%;
}

.enterprise .flex-container {
  display: flex;
  align-items: flex-start;
  padding: 0 2.5%;
}

.enterprise .tipo {
  text-align: center;
  line-height: 2.5em;
  border-bottom: 1px lightgray solid;
  margin-bottom: 2%;
  width: 100%;
}

.enterprise .dettagli h3 {
  font-size: 1.8em;
  margin-bottom: 2%;
}

.enterprise .dettagli p:first-of-type {
  margin-bottom: 6%;
}

.enterprise .container {
  width: 35%;
  text-align: right;
  margin-top: 1%;
}

.enterprise .container a {
  text-decoration: none;
  color: white;
  background-color: #0061fe;
  padding: 2.5% 8%;
}

.enterprise .dettagli {
  padding-bottom: 2%;
}
    /* \ENTERPRISE */

  /* \PIANI */

/* \MAIN */