/* GENERALE */
* {
  margin: 0;
  font-family: 'Open Sans';
}
/* \GENERALE */



/* HEADER */
header {
  display: flex;
  font-size: large;
}

.links {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.sx, .dx {
  margin: 0 2%;
  width: 25%;
}

.dx {
  text-align: right;
}

.dx a {
  padding-left: 6%;
}

.sx a {
  padding-right: 6%;
}
/* \HEADER */



/* MAIN */

main {
  padding: 0 18.5%;
}

  /* HERO */
.hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hero > h1 {
  font-size: 4vw;
  font-weight: 800;
}

.hero .dettagli {
  display: flex;
}

.hero .dettagli > img {
  width: 69%;
}

.hero .dettagli > div p {
  padding-bottom: 10%;
}

.hero .dettagli div a {
  text-decoration: none;
  color: white;
  background-color: #0061fe;
  padding: 3% 4%;
}

.hero .dettagli > div > div:first-of-type {
  margin-top: 10%;
}

.hero .dettagli > div > div:last-of-type {
  font-size: 2.8em;
  margin-top: 18%;
}
  /* \HERO */



  /* PIANI */
.piani > h2 {
  font-size: 2.8em;
  margin-bottom: 5%;
}

.piani label:first-of-type {
  margin-right: 5%;
}

.piani .inputs {
  margin-bottom: 4%;
}
    
    /* CARDS */
.cards {
  display: flex;
  justify-content: space-between;
}

.card {
  border: 1px lightgray solid;
  width: 30%;
}

.card .tipo {
  text-align: center;
  line-height: 2.5em;
  border-bottom: 1px lightgray solid;
  margin-bottom: 10%;
}

.card > :not(.tipo) {
  padding: 0 10%;
}

.card h3 {
  font-size: 1.8em;
  margin-bottom: 5%;
}

.card .costo {
  line-height: 2em;
  margin-bottom: 12%;
}

.card .costo span {
  color: grey
}

.card .dettagli ul {
  list-style-type: none;
  padding: 0;
}

.card .dettagli ul li {
  margin-bottom: 1.8em
};


a {
  background-color: aqua;
}
    /* \CARDS */

  /* \PIANI */

/* \MAIN */